$font-family: britishcouncilsans, Lucida Sans Unicode, Lucida Grande, sans-serif;


h1, 
h2,
h3 {
  font-family: $font-family;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  font-size: 2rem;
}


h2 {
  font-size: 1.5rem;
}

.container {
  margin: 0 auto;
}






