$font-family: britishcouncilsans, Lucida Sans Unicode, Lucida Grande, sans-serif;

h1, 
h2,
h3 {
  font-family:  $font-family;
  color: #3E3E3E;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
.content-person {
  .content-section {
    margin-top: 7%;
  }
}

.content-person-area {
  width: 100%;
  .person-img {
    border-radius: 50%;
    width: 100%;
  }
}

.activity-person-item {
  .activity-person-time {
    padding-left: 1em;
    color: #5090df;
  }
  .activity-person-paragraph {
    color: #3c3c3c;
    font-family: $font-family;
    font-size: .9rem;
  }
}