.person-of-day-img {
  max-width: 330px;
  border-radius: 20%;
   @media (max-width: 992px) {
      max-width: 200px;
   }
}
.person-of-day-name a{
  color: inherit;
}

.person-of-day-name {  
  margin: 10px 0;
}